#faculty_list .faculty { margin-bottom: 10px; }
#faculty_list .faculty .photo { display: inline-block; padding: 4px; }
#faculty_list .faculty .info { display: inline-block; padding: 4px; }
#faculty_list .faculty.odd { background-color: #ccc; }

.fe_search_results { list-style: none; margin: 0; padding: 0; }

.fe_search_result { margin-bottom: 10px; }
.fe_search_result .image { display: inline-block; padding: 4px; vertical-align: top; }
.fe_search_result .content { display: inline-block; padding: 4px; max-width: 500px;}

.fe_search_refine_heading,
.faculty-pub-links,
.paging,
#faculty-search-again { display: none; }
