* { background: none; font-size: 13px; }
body { margin: 0.25in; }
/*  */
h1,
h2,
h3,
h4,
h5,
h6 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; clear:both; }

h1 { font-size: 28px; margin:0; padding: 0 0 4px 0; line-height: 1.15; }
h2 { font-size: 23px; margin:0; padding: 0 0 4px 0; }
h3 { font-size: 21px; margin:0; padding: 0 0 4px 0; }
h4 { font-size: 18px; margin:0; padding:0; }
h5 { font-size: 16px; margin:0; padding:0; }
h6 { font-size: 14px; margin:0; padding:0; }

.subtitle { font-size: 15px; color: #000; margin: 10px 0; }
/*  */
a { color: #000; padding: 0; margin: 0; text-decoration: underline; }
/*  */
img { }
/*  */
article { }
article p { }
article img { border: 1px solid #000; margin: 10px; }
article span.date { font-weight: bold; display: block; margin-top: 10px; }
article .contact { background: none; display: inline-block; padding: 10px; margin-bottom: 20px; }
article .contact h4 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; color: #000; text-transform: uppercase; }
article .contact .callout_container { }
article .contact .info { float: left; margin-right: 25px; }
/*  */

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.access { padding: 0 !important; margin: 0; overflow: hidden; position: absolute; left: -9999px; }
.italic { font-style: italic; }

.faculty, .story, p, img, #expandibles li, .callout_feed li { page-break-inside: avoid; }

.smallcaps { font-variant: small-caps; }
/* .smalltext { font-size: 11px/13px; } */

/* SMALLTEXT REVISION 2013-03-21 mm */
.smalltext { font: 11px/13px verdana, arial, "times new roman",serif; }


.red { color: #e51937; }
.noimgborder { border: 0 !important; }

#column1 { float: left; }

#jan,#feb,#mar,#apr,#may,#jun,#jul,#aug,#sep,#oct,#nov,#dec { page-break-before: always; }

#masthead,
#side_nav,
.callout_text,
.callout_quicklinks,
.callout_video,
.callout_slideshow,
.callout_button,
.callout_tweet,
.callout_socialmediaicons,
#breadcrumbs,
#news_year_display,
#year_select,
#news_search,
.expandme { display: none; }
/*   */

#header #quick { display: none; }
/*  */
#header #audience { }
#header #audience > div.holder { }
#header #audience #logo { padding: 21px 0; }
#header #audience nav { display: none; }
/*  */
#header #primary { display: none; }
/*  */

#footer { display: none; }
/*  */

#controls { display: none; }
.caption-top,
.caption-bottom { color: #fff; font-weight: normal; font-size: 13px; font-family: arial; cursor: default; background: #000; }
.caption-top { }
.caption-bottom { padding-top: 2px; }
.caption a,
.caption a { border: 0 none; text-decoration: none; background: #000000; padding: 0.3em; }
.caption a:hover,
.caption a:hover { background: #202020; }
.caption-wrapper { float: left; }
/*   */

.callout_feed { }
.callout_feed .callout_container { margin-left: 10px; margin-bottom: 20px; }
.callout_feed h3 { padding: 2px 8px; margin-bottom: 10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13pt; color: #fff; font-weight: bold; text-transform: uppercase; }
.callout_feed h3 a { display: block; color: #000; background: none; }
.callout_feed h3.closed a { background: none; }
.callout_feed ul { list-style: none; margin: 0; padding: 0; }
.callout_feed li { margin-left: 10px; margin-bottom: 10px; }
.callout_feed .date { position: relative; }
.callout_feed .date .start { float: left; height: 48px; margin: 0; padding: 0; position: relative; text-align: center; width: 48px; }
.callout_feed .date .to { float: left; font-size: 32px; font-weight: bold; margin: 7px 4px 0 0; color: #000; }
.callout_feed .date .end { float: left; height: 48px; margin: 0; padding: 0; position: relative; width: 48px; }
.callout_feed .date .month { font-size: 17px; font-weight: bold; left: 5px; margin: 0; padding: 0; position: absolute; text-transform: uppercase; top: 0; }
.callout_feed .date .day { font-size: 40px; left: 0; position: absolute; top: 9px; color: #000 }
.callout_feed .oneday { width: 360px; }
.callout_feed .twoday { width: 299px; }
.callout_feed article { overflow: hidden; }
.callout_feed article h4 { color: #000; font-size: 15px; margin: 0; padding: 0; }
.callout_feed article h5 { color: #000; font-size: 14px; margin: 0; padding: 0; }
.callout_feed article p { margin: 0; margin: 0; }
/*   */
#popular { margin-bottom: 10px; }
#popular h2 { font-size: 15pt; }
#popular h3 { font-size: 12pt; }
#popular .row { width: 448px; clear: both; }
#popular .list { width: 222px; }
#popular ol { padding-left: 26px; margin-top: 0; margin-bottom: 20px; }
#popular li { }
/*  */
#expandibles { list-style: none; margin: 0; padding: 0; }
#expandibles li { background: none; position: relative; margin-bottom: 10px; display: inline-block; }
#expandibles li .num { position: absolute; color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 40px; top: 10px; left: 10px; }
#expandibles li .content { margin: 15px 10px 15px 60px; }
#expandibles li .hidden_content { margin: 0px 10px 0px 60px; }
#expandibles li .content h3 { font-size: 13px; margin: 0; padding: 0; }
#expandibles li .content p { margin: 0 0 15px 0; padding: 0; }
#expandibles li .hidden_content p { margin: 0 0 15px 0; padding: 0; }
#expandibles li .hidden_content { display: block; }
/*   */
#faculty_index_content .callout_quicklinks { display: none; }
#faculty_search_box, #course_search_toggle { display: none; }
#faculty_alpha_display { display: none; }