/* CSS Document */

article.zoom, article.zoom * { line-height: 1.4; font-size: 17px; }
article.zoom h1 { font-size: 34px; line-height: 1.15; }
article.zoom h2 { font-size: 28px; }
article.zoom h3 { font-size: 26px; line-height: 1; }
article.zoom h4 { font-size: 22px; }
article.zoom h5 { font-size: 20px; }
article.zoom h6 { font-size: 18px; }
article.zoom .contact h4 { font-size: 17px; }
/*    */
article.zoom .callout_quicklinks {}
article.zoom .callout_quicklinks h3 { font-size: 20px; }
article.zoom .callout_quicklinks .callout_container {}
article.zoom .callout_quicklinks p {}
/*    */
#faculty_alpha_display.zoom { }
#faculty_alpha_display.zoom .alpha,
#faculty_alpha_display.zoom a { font-size: 24px; width: 59px; }
/*    */
#news_year_display.zoom { }
#news_year_display.zoom .yr,
#news_year_display.zoom a { font-size: 24px; width: 72px; margin-bottom: 3px; }
/*    */
#faculty_search_box.zoom { }
#faculty_search_box.zoom h4 { font-size: 22px; }
#faculty_search_box.zoom .expandme { font-size: 17px; top: 6px; right: 6px; }
#faculty_search_box.zoom .showmore:before { font-size: 17px; }
#faculty_search_box.zoom .showless:before { font-size: 17px; }
#faculty_search.zoom { font-size: 17px; }
/*    */
#faculty_list.zoom { }
#faculty_list.zoom h2 { font-size: 28px; }
#faculty_list.zoom h4 { font-size: 18px; }
#faculty_list.zoom .faculty { }
#faculty_list.zoom .faculty.odd { }
#faculty_list.zoom .faculty h5 { font-size: 20px; }
#faculty_list.zoom .faculty p { }
#faculty_list.zoom .faculty .info { width: 520px; font-size: 17px; }
#faculty_list.zoom .faculty.nophoto .info { width: 590px; }
#faculty_list.zoom .faculty .photo { }
#faculty_list.zoom .faculty .photo img { }
/*    */
#story_list.zoom { }
#story_list.zoom .story { }
#story_list.zoom h4 { }
#story_list.zoom .story .date { font-size: 17px; }
#story_list.zoom .story h5,
#story_list.zoom .story h5 a,
#story_list.zoom .story h5 a:visited { font-size: 20px; }
#story_list.zoom .story h5 a:hover {  }
/*   */
.faculty_expandible.zoom .showmore:before { content: '+'; font-size: 17px; }
.faculty_expandible.zoom .showless:before { content: '-'; font-size: 17px; }
.faculty_expandible.zoom .showmore,
.faculty_expandible.zoom .showless { font-size: 17px; }
/*   */
#column_container_2.zoom .callout_button {}
#column_container_2.zoom .callout_button a { font-size: 18px; }
/*  */
#column_container_2.zoom .callout_text { }
#column_container_2.zoom .callout_text h3 { font-size: 20px; }
#column_container_2.zoom .callout_text .callout_container { font-size: 17px; }
#column_container_2.zoom .callout_text .callout_container .faculty_profiles { font-size: 14px; }
#column_container_2.zoom .callout_text .callout_container p { font-size: 17px; }
#column_container_2.zoom .callout_text .callout_container h4 { font-size: 17px; }
#column_container_2.zoom .callout_text .callout_container .thumbnail { }
#column_container_2.zoom .callout_text .callout_container img { }
/*  */
#column_container_2.zoom .callout_quicklinks { }
#column_container_2.zoom .callout_quicklinks h3 { font-size: 20px; }
#column_container_2.zoom .callout_quicklinks .callout_container { }
#column_container_2.zoom .callout_quicklinks ul { }
#column_container_2.zoom .callout_quicklinks ul li { font-size: 17px; }
#column_container_2.zoom .callout_quicklinks ul li a { }
/*  */
#column_container_2.zoom .callout_video { }
#column_container_2.zoom .callout_video h3 { font-size: 20px; }
#column_container_2.zoom .callout_video .callout_container { }
#column_container_2.zoom .callout_video .callout_container p { font-size: 17px; }
#column_container_2.zoom .callout_video .callout_container .thumbnail { }
#column_container_2.zoom .callout_video .callout_container img { }
/*  */
#column_container_2.zoom .callout_slideshow { }
#column_container_2.zoom .callout_slideshow h3 { font-size: 20px; }
#column_container_2.zoom .callout_slideshow .callout_container { }
#column_container_2.zoom .callout_slideshow .callout_container p { font-size: 17px; }
#column_container_2.zoom .callout_slideshow .callout_container .thumbnail { }
#column_container_2.zoom .callout_slideshow .callout_container img { }
/*  */
#column_container_2.zoom .callout_tweet { }
#column_container_2.zoom .callout_tweet h3 { font-size: 20px; }
#column_container_2.zoom .callout_tweet .callout_container { }
#column_container_2.zoom .callout_tweet .callout_container p { font-size: 17px; }
#column_container_2.zoom .callout_tweet .callout_container .date { }
#column_container_2.zoom .callout_tweet .callout_container .button_row { }
#column_container_2.zoom .callout_tweet .callout_container .button { }
/*  */
#column_container_2.zoom .button { font-size: 13px; }
/*  */
#contact_info.zoom { }
#contact_info.zoom .callout_container { }
#contact_info.zoom h3 { font-size: 20px; }
#contact_info.zoom h4 { font-size: 17px; }
#contact_info.zoom p { font-size: 17px; }
#contact_info.zoom a { font-size: 13px }
/*   */
.callout_socialmediaicons.zoom { }
.callout_socialmediaicons.zoom h3 { font-size: 20px; }
.callout_socialmediaicons.zoom .callout_container { }
.callout_socialmediaicons.zoom .callout_container ul { }
.callout_socialmediaicons.zoom .callout_container ul li { font-size: 17px; }
.callout_socialmediaicons.noheadline.zoom .callout_container { }
.callout_socialmediaicons.noheadline.zoom .callout_container ul { }
/*  */
#expandibles.zoom { }
#expandibles.zoom li { }
#expandibles.zoom li .num { font-size: 40px; }
#expandibles.zoom li .showmore:before { font-size: 17px; }
#expandibles.zoom li .showless:before { font-size: 17px; }
#expandibles.zoom li .showmore,
#expandibles.zoom li .showless { font-size: 17px; }
#expandibles.zoom li .content,
#expandibles.zoom li .hidden_content { }
#expandibles.zoom li .content h3 { font-size: 17px; }
#expandibles.zoom li .content p,
#expandibles.zoom li .hidden_content p { font-size: 17px; }
#expandibles.zoom li .hidden_content { }
/*  */
.callout_feed.zoom { }
.callout_feed.zoom .callout_container { font-size: 17px; }
.callout_feed.zoom .callout_container .faculty_profiles { font-size: 14px; }
.callout_feed.zoom h3 { font-size:20px; }
.callout_feed.zoom h3 a { }
.callout_feed.zoom h3.closed a { }
.callout_feed.zoom h3 a:hover,
.callout_feed.zoom h3 a:visited { }
.callout_feed.zoom ul { }
.callout_feed.zoom li { }
.callout_feed.zoom .date { margin-right: 3px; margin-top: 4px; }
.callout_feed.zoom .date .start { }
.callout_feed.zoom .date .to { font-size: 32px; }
.callout_feed.zoom .date .end { }
.callout_feed.zoom .date .month { font-size: 17px; }
.callout_feed.zoom .date .day { font-size: 40px; }
.callout_feed.zoom .oneday { width: 360px; }
.callout_feed.zoom .twoday { width: 299px; }
.callout_feed.zoom article { }
.callout_feed.zoom article h4 { font-size: 15px; }
.callout_feed.zoom article h5 { font-size: 14px; }
.callout_feed.zoom article p { }
/*   */
.callout_button.zoom { }
.callout_button.zoom a { }
/*   */
#popular.zoom { }
#popular.zoom h2 { font-size: 28px; }
#popular.zoom h3 { font-size: 26px; }
#popular.zoom .row { width: 500px; }
#popular.zoom .list { width: 500px; float: none; }
#popular.zoom ol { }
#popular.zoom li { font-size: 17px; }
