body { background: #272727; font-size: 13px; }

/*  */
h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; clear:both; }

h1 { font-size: 28px; margin:0; padding: 0 0 4px 0; line-height: 1.15; }
h2 { font-size: 23px; margin:0; padding: 0 0 4px 0; }
h3 { font-size: 21px; margin:0; padding: 0 0 4px 0; }
h4 { font-size: 18px; margin:0; padding:0; }
h5 { font-size: 16px; margin:0; padding:0; }
h6 { font-size: 14px; margin:0; padding:0; }

.subtitle { font-size: 15px; color: #7d7d7d; margin: 10px 0;}
/*  */
a { color: #0097bb; padding: 0; margin: 0; text-decoration: none; }
a:visited { color: #144895; }
a:hover { color: #00bbe7; }


/*  */
img { }
img:not([src!='']) { border: none; }
img[align='left'] { float: left; }
img[align='right'] { float: right; }
/*  */
article { padding-bottom: 20px; }

article p { margin: 0 0 10px 0; }
article a:hover { text-decoration: underline; }
article img { border: 5px solid #000; margin: 10px; }
article span.date { margin-bottom: -10px; font-weight: bold; display: block; margin-top: 10px;}

article .contact { background: #e5f4f8; display: inline-block; padding: 10px; margin-bottom: 20px; }
article .contact h4 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; color: #e51937; text-transform: uppercase; }
article .contact .callout_container { }
article .contact .info { float: left; margin-right: 25px; margin-top: 10px; width: 175px; }
/*  */
article > ul.links, article > p > ul.links { list-style-image: url(../img/audience_nav_arrow.png); margin: 0 0 0 20px; padding: 0 0 0 0; }

input[type='reset'] { color: #0097bb; background: none; border: none; padding: 2px; }

abbr { vertical-align: text-top; font-size: 12px; color: #F00; margin-left: 2px; }

iframe,
object,
video { max-width: 100%; }

ul, ol { margin: 0 0 1em 0; }
ul ul, ol ol { margin: 0; }

td ul,
th ul,
td ol,
th ol { margin: 1em 0; padding: 0 0 0 40px; }

td ul,
th ul { list-style: '-'; }

td > p { margin: 0; padding: 0; }

/*         Classes           */

.access { padding: 0 !important; margin: 0;	overflow: hidden; position: absolute; left: -9999px; }
.italic { font-style: italic; }

.printonly { display: none; }

.icon img:hover { opacity: 0.8; }

.last { border-right: none; }

.smallcaps { font-variant: small-caps; }
/* .smalltext { font-size: 11px/13px; } */

/* SMALLTEXT REVISION 2013-03-21 mm */
.smalltext { font: 11px/13px verdana, arial, "times new roman",serif; }


.red { color: #e51937; }
.noimgborder { border: 0 !important; }

hr.thick-bar { border-width: 3px 0 0; }
hr.thin-bar { border-width: 1px 0 0; }

/*           IDs             */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 90000;
}

#container { }
/*   */
#header { width: 100%; min-width: 960px; text-align: center; background: #272727; position: relative; }
#header > div { display: block; text-align: left; margin: 0 auto; }
#header #quick { height: 47px; position: relative; background: url(../img/header_quicklinks_bg.png) top center no-repeat; }
#header #quick > div.holder { width: 960px; margin: 0 auto; position: absolute; left: 50%; margin-left: -479px; }
#header #quick #links { float: right; z-index: 4000; margin-top: 11px; width: 158px }
#header #quick #links > a { position: absolute; z-index: 8600; }
#header #quick #links #list { display: none; background: url(../img/quicklinks_bg.png) repeat-y center; padding-top: 10px; padding-bottom: 4px; width: 150px; border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; z-index: 8500; position: absolute; top: 32px; margin-left: 2px; }
#header #quick #links #list nav { margin: 0 12px; padding-top: 4px; }
#header #quick #links #list nav ul { }
#header #quick #links #list nav ul li { text-transform: uppercase; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; padding-bottom: 5px; }
#header #quick #links #list nav ul li a { text-decoration: none; color: #fff; }
#header #quick #links #list nav ul li a:hover { color: #bbb; }
#header #quick #toplinks { float: right; margin-top: 17px; max-width: 500px; overflow: hidden; max-height: 30px; }
#header #quick #toplinks ul { list-style: none; }
#header #quick #toplinks ul li { float: left; font-size: 8pt; font-weight: bold;}
#header #quick #toplinks ul li a { background:url(../img/nav_arrow_sprite.png) 0px -28px no-repeat; padding-left: 15px; margin-right: 15px; color: #fff; }
#header #quick #toplinks ul li a:hover,
#header #quick #toplinks ul li.selected a { background:url(../img/nav_arrow_sprite.png) 0px 2px no-repeat; color: #ffcc00; }
#header #quick form { float: right; }
.ie7 #header #quick form { float: right; margin-top: 10px; }
#header #quick form input[type="text"] {
    border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
    height: 18px;
    margin-right: -4px;
	background:url(../img/search_bg.png) top left no-repeat;
	padding-left: 2px;
	-webkit-appearance: none;
}
#header #quick form input[type='submit'] { width: 22px; height: 22px; margin: 0; padding: 0; background: transparent url(../img/search_button.png) no-repeat center top; border-bottom: 1px solid white; border-top: 1px solid white; border-right: 1px solid white; border-left: 0 none; text-indent: -1000em; cursor: pointer; /* hand-shaped cursor */ cursor: hand; /* for IE 5.x */  }
.ie7 #header #quick form input[type='submit'] { font-size: 0px; text-height: 0; }
/*  */
#header #audience { height: 94px; background: url(../img/header_primary_bg.png); border-top: 1px solid #858585; border-bottom: 1px solid #808080; }
#header #audience > div.holder { width: 960px; margin: 0 auto; }
#header #audience #logo { padding: 21px 0; float: left; }
#header #audience nav { float: right; max-width: 500px; margin-top: 12px; height: 80px; overflow: hidden; }
#header #audience nav span { color: #1f1f1f; text-transform:uppercase; font-size: 10px; font-weight: bold; }
#header #audience nav ul { }
#header #audience nav ul li { float: left; width: 151px; padding-right: 5px; margin-right: 10px; overflow: hidden; max-height: 34px; }
#header #audience nav ul li:hover { background: #e51937; }
#header #audience nav ul li a { display: block; background: url(../img/audience_nav_arrow_sprite.png) 5px -35px no-repeat; padding-left: 20px; color: #636363; }
#header #audience nav ul li a:hover { background: url(../img/audience_nav_arrow_sprite.png) 5px 5px no-repeat; color: #fff; }
#header #audience nav ul li.selected { background: #7d7d7d; }
#header #audience nav ul li.selected a { background: url(../img/audience_nav_arrow_sprite.png) 5px -15px no-repeat; color: #fff; }
/*  */
#header #primary { height: 35px; background: #000; border-bottom: 1px solid #363636; border-top: 1px solid #808080; overflow: auto; }
/*#header #primary nav { width: 960px; margin: 0 auto; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 15px; text-transform: uppercase; color: #fff; }*/
#header #primary nav { width: 960px; margin: 0 auto; font-family: "Lucida Sans Unicode", "Lucida Grande", "Gill Sans", sans-serif; font-size: 15px; text-transform: uppercase; color: #fff; }
#header #primary nav ul { list-style: none; }
#header #primary nav ul li { float: left; margin-right: 20px; margin-top: 8px; }
#header #primary nav ul li a { color: #fff; }
#header #primary nav ul li a:hover { color: #ffcc00; }
#header #primary nav ul li.selected a { color: #a1a1a1; }
/*  */
#header_shadow { position:absolute; z-index: 101; display: block; height: 7px; width: 100%; min-width: 960px; border-top: 1px solid #a9a9a9; background: url(../img/header_bottom_shadow.png) top repeat-x; overflow: hidden; top: 0; left:0; }
/*  */
#content { width: 960px; margin: 5px auto 0px; position:relative; }
#content.social_media_hub { margin-top: 10px; }
/*  */
#footer { min-width: 960px; display: block; min-height: 86px;  }
#footer #upper { background: #FFF; height: 55px; border-top: 1px solid #dfdfdf; position: relative; }
#footer #upper > div.holder { background: url(../img/footer_top_bg_980.png) top center no-repeat; width: 960px; margin: 0 auto; padding: 15px 10px; position: relative; height: 25px; }
#footer #upper > div.holder p { margin: 0; font-size: 10px; }
#footer #upper #socialmediaicons { position: absolute; top: 15px; right: 11px; }
#footer #upper #socialmediaicons ul { list-style: none; margin: 0; padding: 0; }
#footer #upper #socialmediaicons ul li { float: left; padding-left: 3px; }
#footer #upper #socialmediaicons ul li.icon.social_media_connect { padding-top: 3px; }
#footer #upper #socialmediaicons ul li.icon.social_media_connect a:link,
#footer #upper #socialmediaicons ul li.icon.social_media_connect a:visited { font-weight: 700; }
#footer #upper #socialmediaicons ul li.icon.connect { padding-left: 7px; padding-top: 2px; }
#footer #upper #socialmediaicons ul li.icon.connect img { margin-top: -2px; }
#footer_shadow { position:absolute; z-index: 101; display: block; height: 5px; width: 100%; min-width: 960px; background: url(../img/footer_shadow.png) bottom repeat-x; overflow: hidden; bottom: 0; }
#footer #lower { position: relative; height: 30px; }
#footer #lower > div.holder { position: relative; width: 960px; margin: 0 auto; padding: 10px 0; }
#footer #lower #myiitlogo { position: absolute; top: -12px; z-index: 1000; left: 0px; }
#footer #lower > div.holder nav ul { list-style: none; }
#footer #lower > div.holder nav ul li {
	float: left;
	color: #fff;
	font-size: 10px;
	border-right: 1px solid #caa30a;
	padding: 0 5px;
}
#footer #lower > div.holder nav ul li:last-child,
#footer #lower > div.holder nav ul li.last { border-right: none; }
#footer #lower > div.holder nav ul li a { color: #fff; }
#footer #lower #iit_links { margin-left: 40px; }
#footer #lower #global_links { position: absolute; top: 10px; right: -5px; }
#footer #lower #iit_links a:hover,
#footer #lower #global_links a:hover { text-decoration: underline; }

/*  */

.nav_title { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; text-transform: uppercase; font-weight: bold; color: #000; }
.nav_title a, .nav_title a:visited, .nav_title a:hover { color: #000; }

.button {
  padding: 2px 8px;

  border: 1px solid #0b9ec0;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:8pt;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  display: inline-block;

  background-color: #1f9bc2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f9bc2), to(#02799e));
  background-image: -webkit-linear-gradient(top, #1f9bc2, #02799e);
  background-image:    -moz-linear-gradient(top, #1f9bc2, #02799e);
  background-image:     -ms-linear-gradient(top, #1f9bc2, #02799e);
  background-image:      -o-linear-gradient(top, #1f9bc2, #02799e);
  background-image:         linear-gradient(top, #1f9bc2, #02799e);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1f9bc2', EndColorStr='#02799e');
}

.button a { color: #fff; }
.button a:visited { color: #fff; }
.button a:hover { color: #bbb; }


a.button { color: #fff; }
a.button:visited { color: #fff; }
a.button:hover { color: #bbb; }


.st_sharethis_custom {
	background: url(../img/sharethis_bg.png) top left no-repeat;
	padding: 1px 6px 1px 19px;
	color: #fff;
	border-top: 1px solid #9dd8e6;
	border-left: 1px solid #0b9ec0;
	border-right: 1px solid #77c5d7;
	border-bottom: 1px solid #39afca;
	cursor: pointer;
	cursor: hand;
}
.st_email {
	color: #0097bb;
	cursor: pointer;
}

.st_email span {
	position: absolute;
	text-indent: -99999px;
	top: -99999px;
}

.no-js #controls { display: none; }
#controls {
	position: absolute;
	top: 15px;
	right: 15px;
	overflow: hidden;
}
#controls .separator { padding: 0px 5px; }
#controls .bottom { margin-top: 10px; text-align: right; }
#controls #smaller, #controls #larger { color: #a0a0a0; cursor: pointer; cursor: hand; }
#controls #smaller.enabled, #controls #larger.enabled { color: #0097bb; }
#controls #smaller { font-size: 10px; }
#controls #larger { font-size: 13px; }
#controls #plus_one_container { float: left; margin-right: 10px; }
#controls #facebook_recommend { float: left; }

.caption-top, .caption-bottom {
	color: #ffffff;
	/*padding: 1.2em;	*/
	font-weight: normal;
	font-size: 13px;
	font-family: arial;
	cursor: default;
	background: #000;
	/*text-shadow: 1px 1px 0 #202020;*/
}
.caption-top {
}
.caption-bottom {
	padding-top: 2px;
}
.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	/* padding: 0.3em; */
}
.caption a:hover {
	/* background: #202020; */
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }

/* Alert Message */
#alert_message { position: relative; z-index: 9000; border-bottom: none;
  -webkit-box-shadow: 3px 3px 7px #000;
     -moz-box-shadow: 3px 3px 7px #000;
          box-shadow: 3px 3px 7px #000;
}
#alert_message.open { display: inline-block; border-bottom: 3px solid #e21a34; width: 100%; color: #fff; background: #000; }
#alert_message #alert_tab { width: 120px; height: 30px; display: block; position: absolute; margin-left: -480px; left: 50%; bottom: -30px; background: url(../img/alert_notice_sprite.png) 0px 0px no-repeat; z-index: 10000; cursor: pointer; }
#alert_message.open #alert_tab { background: url(../img/alert_notice_sprite.png) 0px -30px no-repeat; bottom: -33px; }
#alert_message .alert_container { display: none; width: 960px; margin: auto; overflow: hidden; }
#alert_message.open .alert_container { display: block; width: 960px; margin: auto; }
#alert_message .col1 { float: left; width: 740px; padding-right: 20px; }
#alert_message .col2 { float: left; width: 200px; padding-top: 15px; }
#alert_message .col1 .attention { font-size: 18px; text-transform: uppercase; padding-top: 6px; color: #ff0000; }
#alert_message .col1 .headline { font-size: 28px; }
#alert_message .col1 p { }
#alert_message .col2 p { }
#alert_message .col2 .phone { font-size: 24px; color: #ffca05; font-weight: normal; }
#alert_message .col2 .button { }

#catastrophic { width: 960px; margin: auto; padding: 16px 0; }
#catastrophic .alert_container { background: #000; min-height: 528px; color: #fff; overflow: hidden;
   -webkit-box-shadow: 3px 3px 7px #000;
     -moz-box-shadow: 3px 3px 7px #000;
          box-shadow: 3px 3px 7px #000;
}
#catastrophic .alert_container .attention { font-size: 24px; text-transform: uppercase; padding-top: 6px; color: #e51a38; display: inline-block; padding: 36px 90px 20px 40px; border-top: 10px solid #e51a38; }
#catastrophic .alert_container .headline { display: block; font-size: 32px; padding: 0 40px; }
#catastrophic .alert_container .alert_content_container { padding: 0 40px; }
#catastrophic .alert_container .alert_content_container p { }
#catastrophic .alert_container ul { list-style: none; margin:0; padding: 0 40px; }
#catastrophic .alert_container ul li { background:url(../img/nav_arrow.png) 0px 2px no-repeat; padding-left: 15px; margin-right: 15px; color: #ffca05; }
#catastrophic .alert_container ul li a { }
#catastrophic .alert_container .phone { font-size: 24px; color: #ffca05; font-weight: normal; }
#catastrophic .alert_container .button { }

.social{
	width: 30px;
	height: 31px;
	background: url(../img/socialmedia-sprite.png) no-repeat;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 4px 0 0;
}

.facebook{
	background-position: 0 0;
}
.twitter{
	background-position: -32px 0;
}
.flickr{
	background-position: -66px 0;
}
.youtube{background-position: -100px 0;}
.foursquare{background-position: -133px 0;}
.my-library{
	display: block;
	width: 147px;
	height: 23px;
	background: url(../img/my-library.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}
.chat-btn{
	display: block;
	width: 87px;
	height: 24px;
	background: url(../img/chat-sprite.png) no-repeat;
	overflow: hidden;
	text-indent: -999px;
}
.chat-btn-active{
	background-position: 0 -24px;
}
.libbtn{
	background: url(../img/button-sprite.png) no-repeat;
	overflow: hidden;
	text-indent: -999px;
	display: block;
}
.morenews{
	width: 128px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	float: right;
}
.advancedSearch{
	width: 129px;
	height: 19px;
	float: right;
	text-align: center;
	line-height: 19px;
}
.readmore{
	width: 72px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}
.searchbtn{
	width: 69px;
	height: 34px;
	border: none;
	float: left;
	text-align: center;
	line-height: 30px;
}
.search{
	display: block;
	padding: 26px 40px 26px 40px;
	background: rgb(229, 244, 247);
	background: rgba(0, 151, 187, 0.10);
	border-radius: 3px;
	margin: 10px 0 10px 0;
}
.ie8 .search{padding-bottom: 0;}
.search:after{
	display: block;
	content: '';
	clear: both;
}
.search p{
	display: block;
	text-align: right;
	font-size: 11px;
	margin: -7px 0 0 0;
}
.search input{
	width: 294px;
	height: 28px;
	float: left;
}
.ie8 .search input{
	line-height: 28px;
}
.searchbox{
	margin: 0 0 10px 0;
}
.searchbox:after{
	display: block;
	content: '';
	clear: both;
}
.selectbox:after{
	display: block;
	content: '';
	clear: both;
}
.sbHolder{
	display: block;
	width: 208px;
	height: 23px;
	border: solid 1px #b1b2b2;
	background: #fff;
	clear: both;
	outline: none;
	float: left;
	position: relative;
}
.sbHolder:after{
	display: block;
	content: '';
	clear: both;
}
.sbSelector{
	width: 203px;
	display: block;
	color: #000;
	height: 100%;
	padding: 3px 0 0 5px;
	text-decoration: none;
	background: url(../img/selectArrow.jpg) no-repeat top right;
	position: absolute;
}
.ie8 .sbHolder{
	top: -1px;
	left: -1px;
}
.sbSelector span{
	width: 180px;
	display: block;
	overflow: hidden;
	height: 18px;
}
.sbSelector:hover{
	text-decoration: none;
	color: #000;
}
.sbOptions{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 203px;
	background: #fff;
	border: solid 1px #b1b2b2;
	padding: 5px 0 3px 5px;
	border-top: none;
	position: absolute;
	top: -5px;
	left: -1px;
}
.sbOptions li a{
	color: #000;
	text-decoration :none;
}
.sbOptions li{
	margin: 0 0 10px 0;
}
h2.newsevents{
	display: block;
	float: left;
}
p.item{
	display: block;
	margin: 0 0 20px 0;
}
p.item span.date-from{
	font-style: italic;
	clear: both;
}
.chat{
	margin: 10px 0 0 0;
	display: none;
}
/* ================================================================================
                                   You Tube CSS
=================================================================================== */

.youtube {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.youtube .play {
    background: url(../img/youtube_arrow.png) no-repeat center center;
    background-size: 72px 72px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    z-index: 1;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}