#main.home { position: relative; z-index: 100; min-height: 200px; min-width: 960px; background: #272727; }

#homepage_feature article { height: 492px; }

#homepage_feature article.slideshow { background: #000; }
#homepage_feature article.column_2 { }

#homepage_feature article img { border: none; margin: 0; }
#homepage_feature { min-width: 960px; position:relative; z-index:99; display: block; height: 600px; width: 100%; background: url(../img/main_content_bg.png) top center no-repeat; }
#homepage_feature .homepage_feature_container { margin: auto; display: block; width: 960px; }
#homepage_feature #featured { margin: 0 auto; }
#homepage_feature #featured > li { position: relative; }
#homepage_feature #featured > li .tab { left: 0; position: absolute; top: 0; width: 47px; z-index: 200; }
#homepage_feature #featured > li .content { background: none repeat scroll 0 0 #FFFFFF; height: 512px; margin: 2px -2px 2px 43px; overflow: hidden; padding: 3px; position: absolute; top: 4px; width: 766px; z-index: 199;}
#homepage_feature #featured > li.slide-open .tab { left: 0; margin-left: 2px; }
#homepage_feature #featured > li.slide-open .content {}
#homepage_feature #featured > li.slide-closed .tab { margin-left: 2px; }
#homepage_feature #featured > li.slide-closed .slideshow { display: none; }
#homepage_feature #featured > li.slide-closed .content { margin-left: 0px; text-indent: -9999px; width: 100%; }
#homepage_feature #featured > li.slide-closed:first-child .content { margin-left: 3px; }
#homepage_feature #featured > li:first-child { display: block; }
#homepage_feature #featured > li { display: none; }

#homepage_feature #featured > li div.tab.default { display: none; }
#homepage_feature #featured > li div.tab.hover { display: none; }
#homepage_feature #featured > li div.tab.active { display: block; }

#homepage_feature #featured > li.slide div.tab.default { display: block; }
#homepage_feature #featured > li.slide div.tab.hover { display: none; }
#homepage_feature #featured > li.slide div.tab.active { display: none; }

#homepage_feature #featured > li.slide-closed .bx-wrapper { display: none; }
#homepage_feature #featured > li.slide-closed .hpm_container { display: none; }

#homepage_feature #featured > li.slide:hover div.tab.default { display: none; }
#homepage_feature #featured > li.slide:hover div.tab.hover { display: block; }
#homepage_feature #featured > li.slide:hover div.tab.active { display: none; }

#homepage_feature #featured > li.slide-open       div.tab.default,
#homepage_feature #featured > li.slide-open:hover div.tab.default { display: none; }
#homepage_feature #featured > li.slide-open       div.tab.hover,
#homepage_feature #featured > li.slide-open:hover div.tab.hover { display: none; }
#homepage_feature #featured > li.slide-open       div.tab.active,
#homepage_feature #featured > li.slide-open:hover div.tab.active { display: block; }

#homepage_gallery { height: 500px; margin: 0; padding: 0; list-style: none; }
#homepage_gallery > li { position: relative; }
#homepage_gallery > li .caption { position: absolute; width: 350px; bottom: 100px; left: 0px; background: #000; opacity: 0.8; filter: alpha(opacity=80); font-family: 'Cabin', Helvetica, Arial, sans-serif; color: #fff; padding: 22px 18px; opacity: 0.8; }
#homepage_gallery > li .caption span { font-weight: bold; font-size: 18px; } /* Caption Title */
#homepage_gallery > li .caption p { line-height: 1.45; }
#homepage_gallery > li img { display: block; margin: auto; }
#homepage_feature .bx-pager { position: absolute; top: 15px; right: 60px; z-index: 100; }
#homepage_feature .bx-pager .pager-link { background: #fff; color: #000; padding: 2px 6px; margin: 0 2px; }
#homepage_feature .bx-pager .pager-active { background: #ffcc00; }
#homepage_feature .bx-next,
#homepage_feature .bx-prev { display: none; }

#homepage_feature .hpm_container { color: #363636; margin: 5px 15px; }
#homepage_feature .hpm_container h1 { }
#homepage_feature .hpm_container h2 { margin-bottom: 8px; }
#homepage_feature .hpm_container h3 { }
#homepage_feature .hpm_container h4 { margin-bottom: 6px; }
#homepage_feature .hpm_container h5 { }
#homepage_feature .hpm_container h6 { }
#homepage_feature .column2 .hpm_container .hpm_column1 { width: 420px; float: left; margin-right: 15px; }
#homepage_feature .column2 .hpm_container .hpm_column2 { width: 300px; float: left; }
#homepage_feature .column2 .hpm_container .hpm_column2 .thin-bar { margin: 5px 0; }

#homepage_feature .column3 .hpm_container .hpm_column1 { width: 300px; float: left; margin-right: 15px; }
#homepage_feature .column3 .hpm_container .hpm_column2 { width: 100px; float: left; }
#homepage_feature .column3 .hpm_container .hpm_column3 { width: 100px; float: left; }

#homepage_feature .oyez { }
#homepage_feature .oyez h2 { margin-bottom: 0px; }
#homepage_feature .oyez .logo { margin: 0 0 10px 0; padding: 0; }
#homepage_feature .oyez .bold { font-weight: bold; }
#homepage_feature .oyez .field-item,
#homepage_feature .oyez .field-item a { font-weight: bold; }
#homepage_feature .oyez .field-label-inline-first { display: inline; }
#homepage_feature .oyez .story { display: block; padding-bottom: 10px; }
#homepage_feature .oyez .story a { font-weight: bold; display: block; }
#homepage_feature .oyez .story .date { margin:0; padding: 0 0 0 15px; }
#homepage_feature .oyez .decision { margin: 2px 0; padding: 0; list-style: none; }
#homepage_feature .oyez .decision li { }
#homepage_feature .oyez .case { margin-bottom: 10px; }
#homepage_feature .oyez .case .title { font-weight: bold; }

/*  */
#expandible_block { position:relative; z-index: 1999; }
#expandible_block #askbtn { position: absolute; top: -28px; left: 50%; margin-left: -480px; background: url(../img/ask_admissions_jd_sprite.png) top left no-repeat; width: 126px; height: 28px; cursor: pointer; cursor: hand; z-index: 2000; }

#expandible_block > div.holder {
	width: 100%; border-top: 3px solid #e51937; background: black; height: 150px; display:none;
}

#expandible_block > div.holder > div.subholder {
	width: 960px; margin: 0 auto;
}
#expandible_block #ask_admissions {padding: 3px 0; width: 440px; float: left;}
#expandible_block #ask_admissions h2 { color: #acacac; margin: 0px; padding: 0px; }
#expandible_block #ask_admissions textarea { height: 48px; width: 434px; }
#expandible_block #ask_admissions .buttons > * { float: right; margin-left: 10px; }
#expandible_block #expandible_links { padding: 10px 0 16px; width: 477px; float: left; margin-top: 33px; }
#expandible_block #expandible_links ul { list-style: none; margin: 0; padding: 0; }
#expandible_block #expandible_links ul li { float: left; width: 155px; margin-bottom: 5px; margin-right: 4px; overflow: hidden; }
#expandible_block #expandible_links ul li a { color: #fff; text-decoration: none; }
#expandible_block a {
	background: url(../img/expandible_nav_arrow.png) 0px 50% no-repeat; padding-left: 12px; color: #fff; font-size: 8pt; font-weight: bold; margin-top: 3px;
}
#expandible_block a:hover {
	/* Nothing yet */
}

#expandible_block #ask_shadow { position: absolute; z-index: 10000; display: block; height: 7px; width: 100%; min-width: 960px; background: url(../img/ask_shadow.png) bottom repeat-x; overflow: hidden; top: -7px;}

#expandible_block.open #askbtn { background: url(../img/ask_admissions_jd_sprite.png) 0 -28px no-repeat; }
#expandible_block.open > div.holder { display: block; }
#expandible_block.open #ask_shadow { display: none; }

.no-js #expandible_block > div.holder { display: block; }
.no-js #expandible_block #askbtn { background: url(../img/ask_admissions_jd_sprite.png) 0 -28px no-repeat; }
.no-js #expandible_block #ask_shadow { display: none; }
/*  */
#news_events { background: #fff; display: inline-block; width: 100%; min-width: 960px; position: relative; padding-bottom: 15px; }
#news_events > div.holder {
	width: 960px;
	margin: 0 auto;
}
#news_events h3 {
	font-size: 24px;
	color: #0097bb;
	margin: 0;
	padding: 0;
}
#news_events #news { float: left; width: 440px; position: relative; margin-top: 20px; }
#news_events #news .button { position: absolute; top:5px; right: 0; padding: 3px 5px; }
#news_events #news ul#stories {	list-style: none; margin: 0; padding: 0;}
#news_events #news ul#stories li { float: left; width: 205px; padding: 3px 0 5px 15px; 0px -37px no-repeat; }/***removed red arrows on 06-19-15 - background: url(../img/audience_nav_arrow_sprite.png) - also added 3px padding to the top***/
#news_events #news ul#stories li.js-hide { display: none; }
.no-js #news_events #news ul#stories li.js-hide { display: block; }
#news_events #news ul#stories li a { display: inline; color: #000; }
#news_events #news ul#stories li a:hover { border-bottom: 1px solid #E51937; }
#news_events #news nav { position:absolute; bottom: 0; right: 0; }
.no-js #news_events #news nav { display: none; }
#news_events #news nav ul { }
#news_events #news nav ul li { float: left; border-right: 1px solid #000; padding: 2px 4px; font-size: 10px; text-transform: uppercase; font-weight: bold; }
#news_events #news nav ul li:last-child { border-right: none; }
#news_events #news nav ul li a { color: #E51937; }
#news_events #events { float: left; width: 440px; position: relative; margin-left: 80px; margin-top: 20px; }
#news_events #events .button { position: absolute; top:5px; right: 0; padding: 3px 5px; }
#news_events #events ul { list-style: none; padding: 0; margin: 0; }
#news_events #events ul li { overflow: hidden; }
#news_events #events ul li p { display: inline-block; margin: 3px 0; padding: 0; }
#news_events #events ul li p.date { padding-left: 15px; background:url(../img/audience_nav_arrow_sprite.png) 0px -37px no-repeat; font-weight: bold; text-transform: uppercase; width: 60px; float: left; }/***fixed image name and position on 06-08-15***/
#news_events #events ul li p.event { width: 365px; }
#news_events #events ul li p.event a { display: inline; color: #000; }
#news_events #events ul li p.event a:hover { border-bottom: 1px solid #E51937; }
#news_events #news div.bx-window { margin-left: -15px; } /****** Added on 06-19-15 to move news window 15 pixels to the left *******/
/* =============================================================================
   Home Page "Learn More..." Links (ADDED 12-04-2012 by Michael Miller)
   ========================================================================== */

a.homepage_learnmore:link { color: #0097bb; font-weight:bold; padding:0; margin:0; text-decoration: none; }
a.homepage_learnmore:visited { color:#0097bb; font-weight:bold; padding:0; margin:0; text-decoration: none; }
a.homepage_learnmore:hover { color:#00bbe7; font-weight:bold; padding:0; margin:0; text-decoration:underline; }

/* ================================================================================
                                   You Tube CSS
=================================================================================== */

.youtube {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    margin-bottom: 0px;
}

.youtube .play {
    background: url(../img/youtube_arrow.png) no-repeat center center;
    background-size: 72px 72px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

* /Lightbox background */
#lightbox {
  display:none;
  background:#000000;
  opacity:0.9;
  filter:alpha(opacity=90);
  position:absolute;
  top:0px;
  left:0px;
  min-width:100%;
  min-height:100%;
  z-index:1000;
}
/* Lightbox panel with some content */
#lightbox-panel {
  display:none;
  position:fixed;
  top:100px;
  left:50%;
  margin-left:-200px;
  width:400px;
  background:#FFFFFF;
  padding:10px 15px 10px 15px;
  border:2px solid #CCCCCC;
  z-index:1001;
}