#main.level { position: relative; z-index: 100; min-height: 200px; width: 100%; min-width: 960px; background: url(../img/level_content_bg.png); padding-top: 10px; display: inline-block; }
/*  */
#side_nav { width: 208px; float: left; min-height: 100px; /* Just so it will render, even when nav isn't printing */ }
#side_nav ul { list-style: none; margin: 0; padding: 0; }
#side_nav li { }
#side_nav li a { text-decoration: none; color: #363636; display: block; }
#side_nav li a:hover { text-decoration: underline; }
#side_nav nav { padding-top: 20px; padding-bottom: 20px; }
#side_nav nav > ul { }
#side_nav nav > ul > li { border-bottom: 1px solid #d7d7d7; padding: 4px 0 4px 8px; background: url(../img/left_nav_bar_sprite.png) 0px 5px no-repeat;  }
#side_nav nav > ul > li:hover, #side_nav nav > ul > li.selected, #side_nav nav > ul > li.ancestor { background: url(../img/left_nav_bar_sprite.png) -225px 5px no-repeat; }
#side_nav nav > ul > li.selected { background-color: white; }
#side_nav nav > ul > li > a:hover { text-decoration: underline; }
#side_nav nav > ul > li.bold > a { font-weight: bold; text-transform: uppercase; color: #0097bb; }
#side_nav nav > ul > li.selected > ul li a { color: #0097bb;}
#side_nav nav > ul > li > ul { padding-top: 2px; }
#side_nav nav > ul > li > ul > li { background: url(../img/left_nav_arrow_sprite.png) 0px 6px no-repeat; padding: 3px 0 3px 11px; font-size: 12px;}
#side_nav nav > ul > li > ul > li:hover, #side_nav nav > ul > li > ul > li.selected, #side_nav nav > ul > li > ul > li.ancestor { background: url(../img/left_nav_arrow_sprite.png) -222px 6px no-repeat; }
#side_nav nav > ul > li > ul > li.selected { background-color: white; }
#side_nav nav > ul > li > ul > li.selected > ul li a { color: #0097bb;}
#side_nav nav > ul > li > ul > li > a:hover { text-decoration: underline; }
#side_nav nav > ul > li > ul > li.bold > a { font-weight: bold; text-transform: uppercase; color: #0097bb; }
#side_nav nav > ul > li > ul > li.selected a { color: #0097bb; }
#side_nav nav > ul > li > ul > li ul { padding-top: 2px; }
#side_nav nav > ul > li > ul > li ul li { background: url(../img/left_nav_bullet_sprite.png) 0px 7px no-repeat; padding: 3px 0 3px 8px; }
#side_nav nav > ul > li > ul > li ul li:hover, #side_nav nav > ul > li > ul > li ul li.selected, #side_nav nav > ul > li > ul > li ul li.ancestor { background: url(../img/left_nav_bullet_sprite.png) -227px 7px no-repeat; }
#side_nav nav > ul > li > ul > li ul li.selected { background-color: white; }
#side_nav nav > ul > li > ul > li ul li.selected > ul li a { color: #0097bb; }
#side_nav nav > ul > li > ul > li ul li > a:hover { text-decoration: underline; }
#side_nav nav > ul > li > ul > li ul li.bold > a { font-weight: bold; text-transform: uppercase; color: #0097bb; }
#side_nav nav > ul > li > ul > li ul li > a {}
/*  */
#column_container_1,
#column_container_2,
#column_container_3 { width: 720px; background: #fff; display: block; min-height: 600px; float: left; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; padding: 20px 0px 20px 30px; }
#column_container_full { width: 100%; box-sizing: border-box; background: #fff; display: block; min-height: 600px; float: left; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; padding: 20px 50px 20px 50px; }
#column_container_1,
#column_container_2,
#column_container_full p { line-height: 1.45; }
#column_container_1 #column1 { width: 620px; float:left; }
#column_container_1 #column2 { display: none; }
#column_container_2 #column1 { width: 450px; float:left; }
#column_container_2 #column2 { width: 226px; float:left; margin-top: 75px; margin-left: 30px; }
#column_container_3 #column1 { width: 706px; float: left; }
/* IFrame form alteration */
#column_container_1 #column1.include { width: 691px; float:left; }
#column_container_1 #column1 article{word-wrap:break-word;}
/*  */
#breadcrumbs { font-size: 11px; text-transform: uppercase; color: #a0a0a0; font-family: 'Cabin', Arial, Helvetica, sans-serif; width: 490px; min-height: 50px; }
#breadcrumbs img { vertical-align: baseline; }
#breadcrumbs img:hover { opacity: 0.8; }
#breadcrumbs a,
#breadcrumbs span { padding: 0 3px 0 0; margin: 0; }
#breadcrumbs a { color: #0097bb; }
#breadcrumbs a:hover { color: #00bbe7; }
#breadcrumbs .separator { padding-right: 3px; }
/*  */
#content_image { float: right; }
/*  */
.callout_container { word-wrap: break-word;}

#column2 .callout_container p {
    overflow: hidden;
    width: 206px;
}
/*  */
.callout_button { text-align: center; margin-bottom: 5px; }
.callout_button a { display: block; width: 100%; padding: 5px 0; font-size: 14px; }
/*  */
.callout_text { margin: 10px 0px; }
.callout_text h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_text .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: inline-block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_text .callout_container p { margin: 0; }
.callout_text .callout_container a:hover { text-decoration: underline; }
.callout_text .callout_container h4 { font-size: 13px; margin: 0; padding: 0; }
.callout_text .callout_container .thumbnail { margin: 0 auto; text-align: center; }
.callout_text .callout_container img { border: 0; }
.callout_text .callout_container .button { display: inline-block; margin-top: 10px; }
.callout_text .callout_container input[type='submit'] { height: 18px; width: 30px; background-color: #0e88ad; color: #ffffff; font-size: 11px; font-weight: bold; padding: 2px 2px 4px 2px; font-family: arial; border: 0px; margin: 0px; }
.callout_text .callout_container input[type='text'] { background-color: #ffffff; color: #000000; font-size: 11px; font-family: arial; border: #6e6a58 1px solid; }
/*  */
.course_info { float: right; margin: 0 0 10px 15px; width: 310px; }
.course_info .infotable { width: 290px; }
/*  */
#column2 #contact_info { margin: 10px 0px; }
#column2 #contact_info .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: inline-block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
#column2 #contact_info h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#column2 #contact_info h4 { font-size: 13px; margin: 0; padding: 0; }
#column2 #contact_info p { margin: 0; }
#column2 #contact_info .adr { display: block; }
#column2 #contact_info .org { display: block; }
#column2 #contact_info a { }
#column2 #contact_info a:hover { text-decoration: underline; }
/*  */
.callout_quicklinks { margin: 10px 0px; }
.callout_quicklinks h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_quicklinks h3.announcement {background: #C2142D;}
.callout_quicklinks .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_quicklinks ul { list-style: none; margin: 0; padding: 0; }
.callout_quicklinks ul li { background: url(../img/quick_links_arrows.png) 3px 4px no-repeat; margin-bottom: 2px; }
.callout_quicklinks ul li a { padding-left: 20px; display: block; }
.callout_quicklinks ul li a:hover { text-decoration: underline; }
/*  */
.callout_video { margin: 10px 0px; }
.callout_video h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_video .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: inline-block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_video .callout_container p { margin: 0; }
.callout_video .callout_container .thumbnail { margin: 0 auto; text-align: center; position: relative; }
.callout_video .callout_container .thumbnail .overlay { position: absolute; background: url(../img/overlay_play.png) top left no-repeat; height: 47px; width: 47px; top: 50%; left: 50%; margin-left: -24px; margin-top: -22px;}
.callout_video .callout_container img { border: 0; max-width: 206px; }

.pp_ck .pp_content { background: none; }
.pp_ck .pp_details { position: inherit; }
.pp_ck .pp_close { width:30px; height:30px; background:url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor:pointer }
/*  */
.callout_slideshow { margin: 10px 0px; }
.callout_slideshow h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_slideshow .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: inline-block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_slideshow .callout_container p { margin: 0; }
.callout_slideshow .callout_container .thumbnail { margin: 0 auto; text-align: center; position: relative; }
.callout_slideshow .callout_container .thumbnail .overlay { position: absolute; background: url(../img/overlay_play.png) top left no-repeat; height: 47px; width: 47px; top: 50%; left: 50%; margin-left: -24px; margin-top: -22px;}
.callout_slideshow .callout_container img { border: 0; max-width: 206px; }
.callout_slideshow .slideshow_container { display: none; }

#container > .slideshow_container {
    background: rgba(0,0,0,0.9);
    height: 100%;
	width: 100%;
    position: fixed;
    z-index: 400000;
}
.slideshow_container .ad-prev { margin-left: -42px; }
.slideshow_container .ad-next { margin-right: -42px; }
.slideshow_container .ad-gallery { margin: 50px auto; position: relative; }
.slideshow_container .ad-thumbs { display: none; }
.slideshow_container .ad-controls { display: none; }
.slideshow_container .ad-close { position: absolute; top: -25px; right: -30px; }
.slideshow_container .ad-image-text * { font-family: 'Cabin', Arial, Helvetica, sans-serif; color: #fff; }
.slideshow_container .ad-image-text p { line-height: 1.45; margin: 0 0 15px 0; }
.slideshow_container .ad-image-text img { border: 5px solid #000; margin: 10px; }
.slideshow_container h2.ad-description-title { display: block; font-size: 15pt; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; color: #FFCC00; margin-bottom: 10px; }
/*  */
/* .no-js .callout_tweet { display: none; } */
.callout_tweet { margin: 10px 0px; }
.callout_tweet h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_tweet .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: inline-block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_tweet .callout_container p { margin: 0; }
.callout_tweet .callout_container a:hover { text-decoration: underline; }
.callout_tweet .callout_container .text { font-size: 11px; }
.callout_tweet .callout_container .date { font-size: 11px; color: #636363; }
.callout_tweet .callout_container .button_row { margin-top: 5px; }
.callout_tweet .callout_container .button { }
.callout_tweet .callout_container .button_row .button { margin-right: 10px; }
.callout_tweet .callout_container .tweet_container { margin: 2px 0; }
/*  */
.callout_facebook { margin: 10px 0; }
/*  */
#side_nav #contact_info { margin-bottom: 20px; }
#side_nav #contact_info .callout_container { padding: 10px; background: #fff; border-top: 1px solid #fafafa; }
#side_nav #contact_info .callout_container:after{display: block; content: ''; clear:both;}
#side_nav #contact_info h3 { font-size: 16px; background: #e6e6e6; padding: 5px 10px; margin: 0; }
#side_nav #contact_info h4 { font-size: 13px; padding: 0; margin: 0; }
#side_nav #contact_info p { padding: 0; margin: 0; }
#side_nav #contact_info a { }
#side_nav #contact_info a:hover { text-decoration: underline; }
/*  */
#ask_adm_mini { }
#ask_adm_mini_btn { width: 132px; height: 27px; background: url(../img/ask_admissions_mini_sprite.png) 0 0 no-repeat; cursor: pointer; cursor: hand; }
#ask_adm_mini.open #ask_adm_mini_btn { background: url(../img/ask_admissions_mini_sprite.png) 0 -27px no-repeat; }
#ask_adm_mini_text { width: 181px; height: 103px; margin-bottom: 10px; }
#ask_adm_mini_expand { display: none; width: 187px; height: 155px; background: #272727; padding: 0 10px 10px; border-top: 4px solid #e21936; cursor: default; -moz-box-shadow: 3px 3px 5px #000; -webkit-box-shadow: 3px 3px 5px #000; box-shadow: 3px 3px 5px #000; }
#ask_adm_mini.open #ask_adm_mini_expand { display: block; }
#ask_adm_mini_expand .button { float: right; }
/*  */
#expandibles { list-style: none; margin: 0; padding: 0; }
#expandibles > li { background: #e5f4f8; position: relative; margin-bottom: 10px; padding: 15px 15px 15px 0; display: inline-block; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#expandibles > li .num { position: absolute; color: #e51937; font-family: Arial, Helvetica, sans-serif; font-size: 40px; top: 10px; left: 10px; }
#expandibles > li .showmore:before { content: '+'; color: #e51937; font-size: 10px; margin-right: 2px; }
#expandibles > li .showless:before { content: '-'; color: #e51937; font-size: 10px; margin-right: 2px; }
#expandibles > li .showmore,
#expandibles > li .showless { font-size: 10px; text-transform: uppercase; margin-left: 60px; }
#expandibles > li .content,
#expandibles > li .hidden_content { margin: 0px 10px 0px 60px; overflow: hidden; }
#expandibles > li .content img,
#expandibles > li .hidden_content img { border: 5px solid #000; margin: 10px; }
#expandibles > li .content a:hover,
#expandibles > li .hidden_content a:hover { text-decoration: underline; }
#expandibles > li .content h3 { font-size: 13px; margin: 0; padding: 0; }
#column_container_1 #expandibles > li .content p,
#column_container_1 #expandibles > li .hidden_content p { margin: 0 0 15px 0; padding: 0; width: 535px; }
#column_container_2 #expandibles > li .content p,
#column_container_2 #expandibles > li .hidden_content p { margin: 0 0 15px 0; padding: 0; width: 365px; }
#expandibles > li .hidden_content { display: none; }
#expandibles > li.show .hidden_content { display: block; }
#expandibles > li ul { list-style: disc; }
#expandibles > li ul ul { list-style: circle; }
#expandibles > li ul ul ul { list-style: square; }
/*  */
.callout_feed { }
.callout_feed .callout_container { margin-left: 0; margin-bottom: 20px; padding: 0 16px; }
.callout_feed h3 {
  padding: 2px 8px;

  margin-bottom: 10px;

  border: 1px solid #0b9ec0;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:13pt;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  /*-moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;*/

  background-color: #1f9bc2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f9bc2), to(#02799e));
  background-image: -webkit-linear-gradient(top, #1f9bc2, #02799e);
  background-image:    -moz-linear-gradient(top, #1f9bc2, #02799e);
  background-image:     -ms-linear-gradient(top, #1f9bc2, #02799e);
  background-image:      -o-linear-gradient(top, #1f9bc2, #02799e);
  background-image:         linear-gradient(top, #1f9bc2, #02799e);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1f9bc2', EndColorStr='#02799e');

}
.callout_feed h3 a { display: block; color: #fff; background: url(../img/callout_feed_minus.png) right center no-repeat; }
.callout_feed h3.closed a { background: url(../img/callout_feed_plus.png) right center no-repeat; }
.callout_feed h3 a:hover,
.callout_feed h3 a:visited { color: #fff; cursor: pointer; cursor: hand; text-decoration: underline; }
.callout_feed ul { list-style: none; margin: 0; padding: 0; }
.callout_feed li { clear: both; margin-left: 10px; margin-bottom: 10px; display: inline-block; width: 100%; }
.callout_feed .date { float: left; position: relative; }
.callout_feed .date .start { float: left; height: 48px; margin: 0; padding: 0; position: relative; text-align: center; width: 48px; }
.callout_feed .date .to { float: left; font-size: 32px; font-weight: bold; margin: 7px 4px 0 0; color: #E51937; font-weight: bold; }
.callout_feed .date .end { float: left; height: 48px; margin: 0; padding: 0; position: relative; width: 48px; }
.callout_feed .date .month { font-size: 17px; font-weight: bold; left: 5px; margin: 0; padding: 0; position: absolute; text-transform: uppercase; top: 0; color: #636363; }
.callout_feed .date .day { font-size: 40px; left: 0; position: absolute; top: 9px; color: #E51937; font-weight: bold; letter-spacing: -1px; }
#column_container_1 .callout_feed .oneday { width: 548px; }
#column_container_1 .callout_feed .twoday { width: 485px; }
#column_container_2 .callout_feed .oneday { width: 360px; }
#column_container_2 .callout_feed .twoday { width: 299px; }
.callout_feed article { float: left; overflow: hidden; padding-bottom: 0;}
.callout_feed article h4 { color: #0097bb; font-size: 15px; margin: 0; padding: 0; }
.callout_feed article h5 { color: #7d7d7d; font-size: 14px; margin: 0; padding: 0; }
.callout_feed article img { border: none; }
.callout_feed article .feed-text-container { }
.callout_feed article .feed-text-container,
.callout_feed article .feed-text-container p { margin: 0; word-wrap: break-word; }
/*   */
#popular { margin-bottom: 10px; display: inline-block; }
#popular h2 { font-size: 15pt; }
#popular h3 { font-size: 12pt; }
#column_container_1 #popular .row { width: 620px; clear: both; }
#column_container_1 #popular .list { float: left; width: 310px; }
#column_container_2 #popular .row { width: 448px; clear: both; }
#column_container_2 #popular .list { float: left; width: 222px; }
#popular ol { padding-left: 26px; margin-top: 0; margin-bottom: 20px; }
#popular li { }
/*   */
p.notice { font-style: italic; }
p.notice:before,
span.required:after,
label.required:after { content: '*'; color: #e51937; margin: 0 2px; }
form label { font-weight: bold; }
form br.clearfix { padding: 0; margin: 0; display: inline; }
input[type='checkbox'], input[type='radio'] { margin-right: 4px; }
.radio_l2r label, .radio_t2b label { font-weight: normal; }
.radio_l2r label { margin-right: 30px; }
div.form_row { width: 100%; display: inline-block; margin: 5px 0; }
div.form_row_item { float: left; margin-right: 10px; }
div.form_group { display: none; }
.no-js div.form_group,
div.form_group.showme { display: block; }
div.form_label { width: 110px; text-align: right; }
div.form_row_columns { display: inline-block; width: 80%; }
div.form_row_columns div.form_row_item { width: 50%; margin: 0; }
div.form_row_columns label {  }
#course_search div.form_row_item label { display: inline-block; position: relative; padding-left: 18px; }
.ie #course_search div.form_row_item label { display: inline-block; position: relative; padding-left: 21px; }
#course_search div.form_row_item label input[type='checkbox'],
#course_search div.form_row_item label input[type='radio'] { position: absolute; top: 0; left: 0; }
.state_text, .state_canada { display: none; }
.jd_toggle, .llm_toggle, .form_row_item.refine { display: none; }
#course_search_toggle .show,
.no-js #course_search_toggle .hide { display: block; }
#course_search_toggle .hide { display: none; }
a.refine, a.cs_toggle { cursor: pointer; }
.infotable { width: 206px; }
.infotable a:hover { text-decoration: underline; }
.infotable tr { }
.infotable tr th { }
.infotable tr td { width: 65%; }
.infotable tr th[scope='row'],
.infotable tr td[scope='row'] { padding-right: 10px; width: 35%; text-align: right; vertical-align: text-top; }
.infotable ul { list-style: none; margin: 0; padding: 0; }
/*   */
.callout_image { text-align: center; margin: 0 auto; width: 226px; background: #000; }
.callout_image img { margin: 5px; max-width: 95.575%; /* 270 / 260 */ }
/*   */
.callout_socialmediaicons { margin: 10px 0px; }
.callout_socialmediaicons h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.callout_socialmediaicons .callout_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_socialmediaicons .callout_container ul { list-style: none; margin: 0; padding: 0; display: inline-block }
.callout_socialmediaicons .callout_container ul li { float: left; padding-left: 5px;}
.callout_socialmediaicons.noheadline .callout_container { background: none; display: block; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; border-radius: 0 0 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.callout_socialmediaicons.noheadline .callout_container ul { list-style: none; margin: 0; padding: 0; display: inline-block }

.section_socialmediaicons { margin: 10px 0px; }
.section_socialmediaicons h3 { background: #7d7d7d; color: #ffffff; font-size: 16px; margin: 0; padding: 3px 0 3px 10px; text-align: left; text-transform: uppercase; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.section_socialmediaicons .section_container { background: #e6e6e6; margin: 0; padding: 6px 10px 10px; display: block; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-align: left; }
.section_socialmediaicons .section_container ul { list-style: none; margin: 0; padding: 0; display: inline-block }
.section_socialmediaicons .section_container ul li { float: left; padding-left: 5px;}
/*   */
.faculty_expandible { margin: 0 0 30px 0; padding: 0; }
.faculty_expandible .hidden_content { display: none; }
.faculty_expandible .showmore:before { content: '+'; color: #e51937; font-size: 10px; margin-right: 2px; }
.faculty_expandible .showless:before { content: '-'; color: #e51937; font-size: 10px; margin-right: 2px; }
.faculty_expandible .showmore,
.faculty_expandible .showless { font-size: 10px; text-transform: uppercase; }
/* .faculty_expandible p { line-height: 1.7 !important; } */
/*   */
#news_year_display, #faculty_alpha_display { display: inline-block; margin-top: 10px; }
#news_year_display .yr, #faculty_alpha_display .alpha { background: #DADADA; border-right: 3px solid white; float: left; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 11pt; font-weight: bold; padding: 10px 0; text-align: center; text-transform: uppercase; }
#news_year_display .yr { width: 34px; }
#faculty_alpha_display .alpha { width: 20px; }
#news_year_display .yr.active,
#faculty_alpha_display .alpha.active { background: #0097bb; color: #fff; }
#news_year_display .yr.active a,
#news_year_display .yr.active a:visited,
#news_year_display .yr.active a:hover,
#faculty_alpha_display .alpha.active a,
#faculty_alpha_display .alpha.active a:visited,
#faculty_alpha_display .alpha.active a:hover { color: #fff; }
/*   */
#story_list { margin-top: 20px; border-top: 3px solid #dfdfdf; padding-top: 15px; }
#story_list .story { }
#story_list h4 { padding-bottom: 10px; }
#story_list .story .date { color: #7d7d7d; font-size: 14px; margin: 0; padding: 0; }
#story_list .story h5,
#story_list .story h5 a,
#story_list .story h5 a:visited { color: #0097bb; font-size: 15px; margin: 0; padding: 0; }
#story_list .story h5 a:hover { color: #00bbe7; }
#story_list .story h6 { color: #7d7d7d; font-size: 14px; margin: 0; padding: 0; }
/*   */
#faculty_index_content { padding-top: 8px; }
#faculty_index_content p { }
#faculty_index_content .callout_quicklinks { float: left; width: 230px; margin: 0 0 0 10px; }
#faculty_index_content .content_container { width: 380px; float: left; }
/*   */
#faculty_search_box { position: relative; }
#faculty_search_box .absolute { position: absolute; right: 255px; top: 8px; }
#faculty_search_box .expandme { font-size: 10px; text-transform: uppercase; }
#faculty_search_box .showmore:before { content: '+'; color: #e51937; font-size: 10px; margin-right: 2px; }
#faculty_search_box .showless:before { content: '-'; color: #e51937; font-size: 10px; margin-right: 2px; }
#faculty_search { display: none; }
#faculty_search.display { display: inline-block; }
/*    */
#faculty_list { margin-top: 20px; border-top: 3px solid #dfdfdf; padding-top: 15px; display: inline-block; width: 100%; }
#faculty_list > a { float: right; }
#faculty_list h4 { background: #efefef; padding: 0 10px; margin: 15px 0; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#faculty_list .faculty { padding: 0 10px; margin: 0; clear: both; display: inline-block; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#faculty_list .faculty.odd { background: #e5f4f8; }
#faculty_list .faculty a { }
#faculty_list .faculty a:hover { text-decoration: underline; }
#faculty_list .faculty h5 { margin: 0; padding: 0; }
#faculty_list .faculty p { margin: 0 0 15px 0; padding: 0; }
#faculty_list .faculty .info { float: left; width: 520px; padding: 10px 5px; overflow: hidden; }
#faculty_list .faculty.nophoto .info { float: left; width: 590px; overflow: hidden; }
#faculty_list .faculty .photo { float: left; padding: 10px 0; }
#faculty_list .faculty .photo img { border: 3px solid #000; }
/*   */
#course_list { margin-top: 20px; border-top: 3px solid #dfdfdf; padding-top: 15px; display: inline-block; width: 100%; }
#courses { margin-top: 20px; }
#courses ul { list-style: none; margin: 0; padding: 0; }
#courses ul li { }
#courses ul li a { }
#courses ul li a:hover { text-decoration: underline; }
#courses .paging {padding:10px 0px;margin:0px;}
#courses .paging .leftSide {width:300px;padding:0;margin:0px;float:left;}
#courses .paging .rightSide {padding:0;margin:0px;text-align:right;float:right;}
#courses #currentPage,
#courses #resultStart,
#courses #resultEnd,
#courses #maxPage { font-weight: bold; }
#courses .pager {padding:10px 5px;}
#courses .tInd, #allQa .bInd {padding:0px 5px;}
/*   */
#search_list { }
#search-results { }
#search-results ul { list-style: none; }
#search-results ul li { width: 100%; padding: 10px; margin: 0; display: inline-block; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#search-results ul li a { }
#search-results ul li a:hover { text-decoration: underline; }
#search-results ul li.odd { background: #e5f4f8; }
#search-results ul li h5 { font-weight: normal; }
/*   */
#facultyPaging {padding:10px 18px;margin:0px;}
#facultyPaging .leftSide {width:300px;padding:0;margin:0px;float:left;}
#facultyPaging .rightSide {padding:0;margin:0px;text-align:right;float:right;}
#facultyPaging #currentPage,
#facultyPaging #resultStart,
#facultyPaging #resultEnd,
#facultyPaging #maxPage { font-weight: bold; }
#facultyPaging .pager {padding:10px 5px;}
#facultyPaging .tInd, #allQa .bInd {padding:0px 5px;}
/*   */
#searchPaging {padding:10px 0px;margin:0px;}
#searchPaging .leftSide {width:300px;padding:0;margin:0px;float:left;}
#searchPaging .rightSide {padding:0;margin:0px;text-align:right;float:right;}
#searchPaging #currentPage,
#searchPaging #resultStart,
#searchPaging #resultEnd,
#searchPaging #maxPage { font-weight: bold; }
#searchPaging .pager {padding:10px 5px;}
#searchPaging .tInd, #allQa .bInd {padding:0px 5px;}
/*   */
#masthead { width: 960px; margin: 5px auto 0; position: relative; background: #272727; color: #C90; overflow: hidden; }
#masthead.fe_masthead { width: 818px; }
#masthead a:hover { text-decoration: underline; }

#masthead.photo_nocopy { text-align: center; }
#masthead.photo_nocopy img { margin: 10px; }

#masthead.large_photo_quote .image { width: 588px; position: relative; display: inline-block; margin: 10px; vertical-align: bottom; }
#masthead.large_photo_quote .content { padding-right: 20px; position: absolute; right: 0; top: 30px; width: 310px; }
#masthead.large_photo_quote .content blockquote { color: #fff; font-size: 22px; font-family: Helvetica, Arial, sans-serif; background: url(../img/quote_open.png) top left no-repeat; margin: 0 0 0 -12px; padding: 0px 12px; }
#masthead.large_photo_quote .content blockquote p { background: url(../img/quote_close.png) bottom right no-repeat;  }
#masthead.large_photo_quote .content .source { font-size: 20px; margin: 0; padding: 0; }
#masthead.large_photo_quote .content .small_source { color: #FFF; margin: 0; padding: 0; }
#masthead.large_photo_quote .image #masthead_slider2,
#masthead.large_photo_quote .image ul { width: 588px; height: 100%; overflow: hidden; margin: 0; padding: 0; list-style: none; position: relative; }
#masthead.large_photo_quote .bx-pager { position: absolute; top: 15px; right: 15px; z-index: 150 }
#masthead.large_photo_quote .bx-pager .pager-link { background: #fff; color: #000; padding: 2px 6px; margin: 0 2px; }
#masthead.large_photo_quote .bx-pager .pager-active { background: #ffcc00; }

#masthead.large_photo_copy .image { width: 588px; position: relative; display: inline-block; margin: 10px; vertical-align: bottom; }
#masthead.large_photo_copy .content { padding-right: 20px; position: absolute; right: 0; top: 30px; width: 310px; }
#masthead.large_photo_copy .content h3 { font-size: 26px; text-transform: uppercase; }
#masthead.large_photo_copy .content p { color: #fff; line-height: 1.5; margin: 0 0 10px 0; }
#masthead.large_photo_copy .content a { color: #C90; }
#masthead.large_photo_copy .image #masthead_slider,
#masthead.large_photo_copy .image ul { width: 588px; height: 320px; overflow: hidden; margin: 0; padding: 0; list-style: none; position: relative; }
#masthead.large_photo_copy .bx-pager { position: absolute; top: 15px; right: 15px; z-index: 150; }
#masthead.large_photo_copy .bx-pager .pager-link { background: #fff; color: #000; padding: 2px 6px; margin: 0 2px; }
#masthead.large_photo_copy .bx-pager .pager-active { background: #ffcc00; }

#masthead.medium_photo_copy .image { width: 514px; position: relative; display: inline-block; margin: 10px; vertical-align: bottom; }
#masthead.medium_photo_copy .content { padding-right: 25px; position: absolute; right: 0; top: 30px; width: 255px; }
#masthead.medium_photo_copy .content h3 { font-size: 26px; text-transform: uppercase; line-height: 30px; }
#masthead.medium_photo_copy .content p { color: #fff; line-height: 1.5; margin: 0 0 10px 0; }
#masthead.medium_photo_copy .content a { color: #C90; }
#masthead.medium_photo_copy .image #masthead_slider,
#masthead.medium_photo_copy .image ul { width: 514px; height: 320px; overflow: hidden; margin: 0; padding: 0; list-style: none; position: relative; }
#masthead.medium_photo_copy .bx-pager { position: absolute; top: 15px; right: 15px; z-index: 150; }
#masthead.medium_photo_copy .bx-pager .pager-link { background: #fff; color: #000; padding: 2px 6px; margin: 0 2px; }
#masthead.medium_photo_copy .bx-pager .pager-active { background: #ffcc00; }

#masthead.photo_quote .image { width: 588px; position: relative; display: inline-block; margin: 10px; vertical-align: bottom; }
#masthead.photo_quote .content { padding-right: 2px; position: absolute; right: 0; top: 0; width: 310px; }
.ie7 #masthead.photo_quote .content { padding-top: 40px; }
#masthead.photo_quote .content blockquote { color: #fff; font-size: 22px; font-family: Helvetica, Arial, sans-serif; background: url(../img/quote_open.png) top left no-repeat; margin: 0 0 0 -12px; padding: 0px 12px; }
#masthead.photo_quote .content blockquote p { background: url(../img/quote_close.png) bottom right no-repeat;  }
#masthead.photo_quote .content .source { font-size: 20px; margin: 0; padding: 0; }
#masthead.photo_quote .content .small_source { color: #FFF; margin: 0; padding: 0; }

#masthead.photo_copy .image{ width: 588px; position: relative; display: inline-block; margin: 10px; vertical-align: bottom; }
#masthead.photo_copy .content { padding-right: 20px; position: absolute; right: 0; top: 30px; width: 310px; }
#masthead.photo_copy .content h3 { font-size: 26px; text-transform: uppercase; }
#masthead.photo_copy .content p { color: #fff; line-height: 1.5; margin: 0 0 10px 0; }
#masthead.photo_copy .content a { color: #C90; }
#masthead.photo_copy .content a.button { color: #FFF; }
#masthead.photo_copy .content a.button:visited { color: #fff; }
#masthead.photo_copy .content a.button:hover { color: #bbb; }

#masthead.video_copy .image ul {overflow: visible;}

#masthead.expandible .image { display: inline-block; margin: 10px; position: relative; width: 588px; }
#masthead.expandible .content { padding-right: 20px; position: absolute; right: 0; top: 30px; width: 310px; }
#masthead.expandible .content h3 { font-size: 26px; text-transform: uppercase; }
#masthead.expandible .content p { color: #fff; line-height: 1.5; margin: 0 0 10px 0; }
#masthead.expandible .content a { color: #CC9900; }
#masthead.expandible .hidden_content { margin: 0 5px 10px; display: none; }
#masthead.expandible .hidden_content section { background: none repeat scroll 0 0 #5D5D5D; float: left; margin: 0px 5px 10px; padding: 10px; width: 286px; }
#masthead.expandible .hidden_content section:last-child { margin-right: 0; }
#masthead.expandible .hidden_content section h4 { font-size: 14px; margin: 0; padding: 0; text-transform: uppercase; }
#masthead.expandible .hidden_content section p { color: #FFFFFF; margin: 0; padding: 0; }
#masthead.expandible .content .showmore:before { content: '+'; font-size: 10px; margin-right: 2px; color: #E51937; }
#masthead.expandible .content .showless:before { content: '-'; font-size: 10px; margin-right: 2px; color: #E51937; }
#masthead.expandible .content .showmore,
#masthead.expandible .content .showless { font-size: 10px; text-transform: uppercase; }
/*  */


/* Library Level Columns */
#column_container_2 #libCol{width: 329px; float: left; margin: 0 46px 0 0;}
#column_container_2 #libCol h1{margin: 0 0 10px 0;}
#column_container_2 #libCol h2, #column_container_2 #libCol2 h2{width: 319px; margin: 0 0 15px 0; padding: 8px 0 8px 10px; background: #f00; font-family: “Trebuchet MS”, sans-serif; font-size: 16px; background: rgb(11,158,192); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBiOWVjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjdiOWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(11,158,192,1) 0%, rgba(2,123,159,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,158,192,1)), color-stop(100%,rgba(2,123,159,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(11,158,192,1) 0%,rgba(2,123,159,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(11,158,192,1) 0%,rgba(2,123,159,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(11,158,192,1) 0%,rgba(2,123,159,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(11,158,192,1) 0%,rgba(2,123,159,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b9ec0', endColorstr='#027b9f',GradientType=0 ); /* IE6-8 */
color: #fff; border-radius: 4px;}
#column_container_2 #libCol:after{display: block; content: ''; clear: both;}
#column_container_2 #libCol2{width: 329px; float:left; margin: 96px 0 0 0;}
#column_container_2 #libCol2:after{display: block; content: ''; clear: both;}
#column_container_2 #libCol2 .event{margin: 0 0 10px 0;}
#column_container_2 #libCol2 .event:after{display: block; content: ''; clear: both;}
#column_container_2 #libCol2 .datebig{width: 37px; float: left; text-align: center; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: bold;}
#column_container_2 #libCol2 .day{font-size: 34px; color: #e51937;}
#column_container_2 #libCol2 .month{display: block; font-size: 17px; color: #636363; margin: 0 0 -5px 0;}
#column_container_2 #libCol2 p{width: 262px; margin: 0 0  10px; float: left; padding: 0; word-wrap: break-word; padding: 0 10px;}

.moreLibrary{float: left; margin: 0 10px 10px 0; border: none;}

/* database list same as faculty just needed different styles */
#database_list { margin-top: 20px; border-top: 3px solid #dfdfdf; padding-top: 15px; display: inline-block; width: 100%; }
#database_list > a { float: right; }
#database_list h4 { background: #efefef; padding: 0 10px; margin: 10px 0 15px 0; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#database_list .database { padding: 0 10px; margin: 0; clear: both; display: inline-block; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
#database_list .database.odd { background: #e5f4f8; }
#database_list .database a { }
#database_list .database a:hover { text-decoration: underline; }
#database_list .database h5 { margin: 0; padding: 0; }
#database_list .database p { margin: 0 0 15px 0; padding: 0; }
#database_list .database .info { float: left; width: 520px; padding: 10px 5px; overflow: hidden; }

.keyword-form{margin: 10px 0; position: relative;}
.keyword-form .db_results{position: absolute; width: 131px; background: white; min-height: 10px; left: 121px; padding: 10px; border: solid 1px #ABADB3; top: 21px; display: none;}
.keyword-form .db_results ul{list-style: none; padding: 0; margin: 0;}
.keyword-form .db_results ul li{margin: 10px 0 0 0; padding: 0;}
.keyword-form .db_results ul li:first-child{margin: 0;}

/* Gallery Navigation */
.gallery_nav {}
.gallery_nav h3 { font-size: 15px; margin: 0 0 10px 0; padding: 0; }
.gallery_nav_content_container { margin: 0; padding: 0; }
.gallery_nav_grid ul { list-style: none; margin: 0; padding: 0; }
.gallery_nav_grid ul li { float: left; position: relative; margin: 0 0 17px 17px; }
.gallery_nav_grid ul li.no_left_margin { margin-left: 0; }
.gallery_nav_grid.gallery_nav_grid_three ul li { width: 224px; }
/* Gallery Navigation Button */
.gallery_nav_btn { width: 224px; }
.gallery_nav_btn a:link,
.gallery_nav_btn a:visited { display: block; font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; color: #ffffff; text-decoration: none; text-transform: uppercase; }
.gallery_nav_btn a:hover span,
.gallery_nav_btn a:active span { text-decoration: underline; }
.gallery_nav_btn img { display: block; }
.gallery_nav_call-to-action {
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 46px;
  padding: 8px 12px;
  border: 1px solid #0b9ec0;
  background: #2daacf; /* Old browsers */
  background: -moz-linear-gradient(top,  #2daacf 0%, #0081a4 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2daacf), color-stop(99%,#0081a4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2daacf 0%,#0081a4 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2daacf 0%,#0081a4 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2daacf 0%,#0081a4 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #2daacf 0%,#0081a4 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daacf', endColorstr='#0081a4',GradientType=0 ); /* IE6-9 */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-shadow: inset 0 0 5px 1px #108cb2;
  -webkit-box-shadow: inset 0 0 5px 1px #108cb2;
  box-shadow: inset 0 0 5px 1px #108cb2;
}

.gallery_nav.zoom h3 {
  font-size: 19px;
}
.gallery_nav.zoom .gallery_nav_btn a {
  font-size: 16px;
}

/* Faculty Profile Slider */
.faculty_profiles { padding: 16px; background-color: #e6e6e6; }
.faculty_profile_slider { list-style: none; margin: 0; padding: 0; }
.faculty_profile_slider li { margin: 0; padding: 0; }
/*.faculty_profile_slider li .content { position: absolute; top: 32px; right: 0; width: 330px; }*/
.faculty_profile_slider li .content { margin-top: 32px; margin-left: 15px; width: 330px; float: left; }
.faculty_profile_slider li img { width: 296px; height: 214px; float: left; display: block; }
.faculty_profile_slider li .content { width: 330px; }
.faculty_profile_slider li .content h3 { background: transparent; filter: none; font-size: 20px; font-weight: 400; color: #000000; text-transform: none; border: none; border-radius: 0; background: none; margin: 0; padding: 0; }
.faculty_profiles .bx-wrapper .bx-pager { position: absolute; top: 0; right: 0; z-index: 150; }
.faculty_profiles .bx-wrapper .bx-pager .pager-link:link,
.faculty_profiles .bx-wrapper .bx-pager .pager-link:visited { display: inline-block; color: #000000; text-decoration: none; background-color: #ffffff; margin: 0 0 0 6px; padding: 3px 8px; }
.faculty_profiles .bx-wrapper .bx-pager .pager-link:hover,
.faculty_profiles .bx-wrapper .bx-pager .pager-link:active { text-decoration: underline; }
.faculty_profiles .bx-wrapper .bx-pager .pager-link.pager-active { background-color: #ffcc00; }

/***********************************************************Added 9/10/15 for adding bullets to the Career Path's content accordion********************************************************/
.add_bullets ul { list-style: disc; margin: 0; padding: 0; }

.callout_feed .add_bullets li { display: list-item; }

form #honeyPot { display:none; }